* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 60px;
}

header {
  background-color: #007bff;
  padding: 10px 0;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

#about {
  padding: 80px 20px;
  padding-bottom: 10px;
  background-color: #f8f9fa;
  display: flex; /*Flexbox */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

#about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 900px;
  margin: 0 0;
}

.about-text {
  max-width: 600px;
  margin: 0 auto;
}

.about-image {
  max-width: 300px;
  margin: 0 auto;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .about-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .about-text {
    max-width: 500px;
    text-align: left;
  }
}

/* Grid */
#projects-preview {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

#projects-preview h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.project {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project h3 {
  margin: 10px 0;
}

#contact-cta {
  padding: 40px 20px;
  text-align: center;
  background-color: rgb(4, 44, 176);
  color: white;
}

#contact-cta p {
  margin: 20px 0;
}

footer {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  #about p {
    max-width: 100%;
  }

  #about img {
    max-width: 100%;
    height: 250px;
  }
}
